In [2]:
import pandas as pd
import numpy as np

In [3]:
stats_df = pd.read_csv('data/player_stats.csv')
qbr_df = pd.read_csv('data/qbr_season_level.csv')

In [4]:
stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129739 entries, 0 to 129738
Data columns (total 53 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   player_id                    129739 non-null  object
 1   player_name                  61504 non-null   object
 2   player_display_name          129736 non-null  object
 3   position                     129667 non-null  object
 4   position_group               129667 non-null  object
 5   headshot_url                 69803 non-null   object
 6   recent_team                  129739 non-null  object
 7   season                       129739 non-null  int64
 8   week                         129739 non-null  int64
 9   season_type                  129739 non-null  object
 10  opponent_team                129739 non-null  object
 11  completions                  129739 non-null  int64
 12  attempts                     129739 non-null  int64
 13  passing_yards                129739 non-null  int64
 14  passing_tds                  129739 non-null  int64
 15  interceptions                129739 non-null  int64
 16  sacks                        129739 non-null  int64
 17  sack_yards                   129739 non-null  int64
 18  sack_fumbles                 129739 non-null  int64
 19  sack_fumbles_lost            129739 non-null  int64
 20  passing_air_yards            129739 non-null  int64
 21  passing_yards_after_catch    129739 non-null  int64
 22  passing_first_downs          129739 non-null  int64
 23  passing_epa                  16473 non-null   float64
 24  passing_2pt_conversions      129739 non-null  int64
 25  pacr                         16026 non-null   float64
 26  dakota                       14460 non-null   float64
 27  carries                      129739 non-null  int64
 28  rushing_yards                129739 non-null  int64
 29  rushing_tds                  129739 non-null  int64
 30  rushing_fumbles              129739 non-null  int64
 31  rushing_fumbles_lost         129739 non-null  int64
 32  rushing_first_downs          129739 non-null  int64
 33  rushing_epa                  53317 non-null   float64
 34  rushing_2pt_conversions      129739 non-null  int64
 35  receptions                   129739 non-null  int64
 36  targets                      129739 non-null  int64
 37  receiving_yards              129739 non-null  int64
 38  receiving_tds                129739 non-null  int64
 39  receiving_fumbles            129739 non-null  int64
 40  receiving_fumbles_lost       129739 non-null  int64
 41  receiving_air_yards          129739 non-null  int64
 42  receiving_yards_after_catch  129739 non-null  int64
 43  receiving_first_downs        129739 non-null  int64
 44  receiving_epa                103680 non-null  float64
 45  receiving_2pt_conversions    129739 non-null  int64
 46  racr                         99833 non-null   float64
 47  target_share                 103680 non-null  float64
 48  air_yards_share              76004 non-null   float64
 49  wopr                         76004 non-null   float64
 50  special_teams_tds            129739 non-null  int64
 51  fantasy_points               129739 non-null  float64
 52  fantasy_points_ppr           129739 non-null  float64
dtypes: float64(11), int64(33), object(9)
memory usage: 52.5+ MB

In [7]:
stats_df['season'].value_counts()

2021    5698
2023    5653
2022    5631
2020    5447
2012    5354
2014    5350
2017    5319
2015    5318
2011    5301
2018    5281
2016    5274
2019    5261
2009    5242
2013    5231
2010    5201
2003    5142
2004    5129
2002    5078
1999    5031
2001    4895
2000    4874
2007    4841
2008    4814
2006    4712
2005    4662
Name: season, dtype: int64

In [5]:
qbr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1363 entries, 0 to 1362
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         1363 non-null   int64
 1   season_type    1363 non-null   object
 2   game_week      1363 non-null   object
 3   team_abb       1363 non-null   object
 4   player_id      1363 non-null   int64
 5   name_short     1363 non-null   object
 6   rank           775 non-null    float64
 7   qbr_total      1363 non-null   float64
 8   pts_added      1363 non-null   float64
 9   qb_plays       1363 non-null   int64
 10  epa_total      1363 non-null   float64
 11  pass           1363 non-null   float64
 12  run            1363 non-null   float64
 13  exp_sack       1363 non-null   int64
 14  penalty        1363 non-null   float64
 15  qbr_raw        1363 non-null   float64
 16  sack           1363 non-null   float64
 17  name_first     1363 non-null   object
 18  name_last      1363 non-null   object
 19  name_display   1363 non-null   object
 20  headshot_href  1321 non-null   object
 21  team           1359 non-null   object
 22  qualified      1363 non-null   bool
dtypes: bool(1), float64(9), int64(4), object(9)
memory usage: 235.7+ KB

In [6]:
qbr_df['season'].value_counts()

2021    91
2020    84
2023    82
2019    81
2010    80
2022    79
2008    76
2018    74
2016    74
2009    74
2011    73
2013    73
2006    71
2012    71
2015    71
2017    70
2007    70
2014    69
Name: season, dtype: int64